## Unit 2 / Lesson 2 / Project 4
## Challenge - What Do You See?
Let's go out into the world and generate some beautiful visuals. Pick a data source from this aggregation, load the data into a pandas data frame, and generate a series of visuals around that data using pyplot.

Each visualization should be accompanied by 2-3 sentences describing what you think is revealed by this representation. Generate at least <b><u>four</u></b> different visuals, and be sure to use different types as well as the subplot functionality discussed above. And remember: clean and elegant visuals are key to telling a coherent story.

### Kaggle:
https://www.kaggle.com/hackerrank/developer-survey-2018

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
df = pd.read_csv('Kaggle-developer-survey-2018\HackerRank-Developer-Survey-2018-Numeric.csv' , low_memory=False, nrows = 500)

In [26]:
df.head()

,RespondentID,StartDate,EndDate,CountryNumeric2,q1AgeBeginCoding,q2Age,q3Gender,q4Education,q0004_other,q5DegreeFocus,...,q30LearnCodeOther,q0030_other,q31Level3,q32RecommendHackerRank,q0032_other,q33HackerRankChallforJob,q34PositiveExp,q34IdealLengHackerRankTest,q0035_other,q36Level4
0,6464453728,10/19/17 11:51,10/20/17 12:05,148.0,3,3,2,3,NaN,1,...,1,datacamp,1,1,NaN,2,NaN,#NULL!,NaN,2
1,6478031510,10/26/17 6:18,10/26/17 7:49,164.0,3,4,1,7,NaN,2,...,0,NaN,1,1,NaN,2,NaN,#NULL!,NaN,2
2,6464392829,10/19/17 10:44,10/19/17 10:56,98.0,2,2,2,3,NaN,2,...,0,NaN,1,1,NaN,2,NaN,#NULL!,NaN,2
3,6481629912,10/27/17 1:51,10/27/17 2:05,43.0,2,2,1,5,NaN,1,...,0,NaN,1,1,NaN,2,NaN,#NULL!,NaN,3
4,6488385057,10/31/17 11:46,10/31/17 11:59,NaN,3,4,2,5,NaN,0,...,1,Blogs/articles by industry leaders,1,1,NaN,2,NaN,#NULL!,NaN,3

In [6]:
mp = pd.read_csv('Kaggle-developer-survey-2018\HackerRank-Developer-Survey-2018-Codebook.csv')

In [7]:
mp.head(20)

,Data Field,Survey Question,Notes
0,RespondentID,NaN,Respondent ID
1,StartDate,NaN,When did they start (date and time)
2,EndDate,NaN,When did they end (date and time)
3,CountryNumeric2,NaN,see Country-Code-Mapping.csv
4,q1AgeBeginCoding,At what age did you start coding,NaN
5,q2Age,How old are you now?,NaN
6,q3Gender,What gender do you identify with?,NaN
7,q4Education,What is the highest level of education you hav...,"Shown if person chooses ""Some College"" or above"
8,q0004_other,Other (please specify),"Shown if person chooses ""Some College"" or above"
9,q5DegreeFocus,What is the focus area of your degree?,NaN
10,q0005_other,Other (please specify),NaN
11,q6LearnCodeUni,How did you learn how to code?,NaN
12,q6LearnCodeSelfTaught,How did you learn how to code?,NaN
13,q6LearnCodeAccelTrain,How did you learn how to code?,NaN
14,q6LearnCodeDontKnowHowToYet,How did you learn how to code?,NaN
15,q6LearnCodeOther,How did you learn how to code?,NaN
16,q0006_other,Other (please specify),NaN
17,q7Level1,Success! You completed Level 1 of 4.Â Â To unloc...,right answer: 1 or C
18,q8JobLevel,Which of the following best matches your emplo...,NaN
19,q0008_other,Other (please specify),NaN

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 251 entries, RespondentID to q36Level4
dtypes: float64(2), int64(133), object(116)
memory usage: 980.5+ KB
None

In [9]:
df.describe()

C:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,RespondentID,CountryNumeric2,q1AgeBeginCoding,q2Age,q3Gender,q6LearnCodeUni,q6LearnCodeSelfTaught,q6LearnCodeAccelTrain,q6LearnCodeDontKnowHowToYet,q6LearnCodeOther,...,q30LearnCodeCompCodingSites,q30LearnCodeOnlineTutorial,q30LearnCodeBooks,q30LearnCodeAcademicPaper,q30LearnCodeOther,q31Level3,q32RecommendHackerRank,q33HackerRankChallforJob,q34PositiveExp,q36Level4
count,5.000000e+01,42.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,...,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,12.000000,50.000000
mean,6.472756e+09,121.809524,3.080000,3.540000,1.280000,0.70000,0.660000,0.100000,0.080000,0.020000,...,0.14000,0.320000,0.480000,0.180000,0.180000,1.060000,0.920000,1.740000,2.833333,2.120000
std,8.204873e+06,46.043054,1.065986,0.952119,0.453557,0.46291,0.478518,0.303046,0.274048,0.141421,...,0.35051,0.471212,0.504672,0.388088,0.388088,0.313636,0.340468,0.443087,1.642245,0.627271
min,6.458326e+09,27.000000,1.000000,2.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
25%,6.464396e+09,NaN,3.000000,3.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.250000,NaN,2.000000
50%,6.477593e+09,NaN,3.000000,3.000000,1.000000,1.00000,1.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,NaN,2.000000
75%,6.479558e+09,NaN,3.000000,4.000000,2.000000,1.00000,1.000000,0.000000,0.000000,0.000000,...,0.00000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000,NaN,2.750000
max,6.488385e+09,167.000000,8.000000,6.000000,2.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,2.000000,5.000000,3.000000

In [19]:
#What unique values does the column hold?
df.q2Age.unique()

array(['3', '4', '2', '5', '6', '#NULL!', '7'], dtype=object)

In [28]:
# What kind of data is in the column:
df.q2Age.value_counts()

3    262
4    161
5     39
2     23
6     13
7      1
0      1
Name: q2Age, dtype: int64

In [23]:
# Replace '#Null!' with 0 in column 'q2Age'
df.q2Age.replace(['#NULL!'], ['0'], inplace=True)
df.q2Age.unique()

array(['3', '4', '2', '5', '6', '0', '7'], dtype=object)

In [32]:
# Replace Empty with 0. Not useful as there is no Empty value
df['q2Age'].fillna(0 , inplace = True)
df['q2Age'].head()

0    3
1    4
2    2
3    2
4    4
Name: q2Age, dtype: object

In [24]:
# Change data from string to int:
df['q2Age'].apply(int)
df.q2Age.unique()

array(['3', '4', '2', '5', '6', '0', '7'], dtype=object)

In [27]:
df['q2Age'].plot.hist()
plt.show()

TypeError: Empty 'DataFrame': no numeric data to plot